
div.home_icon{
	
	padding: 8% 0;
	
	
}

.ui-block-a, .ui-block-b, .ui-block-c{
	text-align:center;
	padding: 50px;
}

/* Reveal menu shadow on top of the list items */
.ui-panel-display-reveal {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.ui-panel-page-content-position-right{
	-webkit-box-shadow: 5px 0px 5px rgba(0,0,0,.15);
	-moz-box-shadow: 5px 0px 5px rgba(0,0,0,.15);
	box-shadow: 5px 0px 5px rgba(0,0,0,.15);
}

/* CUSTON HEADER BUTTON */

.ui-btn-icon-notext.ui-btn-right.big-btn, .ui-btn-icon-notext.ui-btn-left.big-btn { 
	height: 100%;
	width: 46px;
	top: 0;
	border: none;
	background: none;
	
}
.ui-btn-icon-notext.ui-btn-right.big-btn:hover, .ui-btn-icon-notext.ui-btn-left.big-btn:hover { 
	
	background: #333;
}
.ui-btn-icon-notext.ui-btn-right.big-btn:active, .ui-btn-icon-notext.ui-btn-left.big-btn:active { 
	
	background: #2ad;
}

.big-nav-bar{
	heignt: 50px;
}

.ui-btn-icon-top.no-radius:after,
.ui-btn-icon-left.no-radius:after, 
.ui-btn-icon-right.no-radius:after, 
.ui-btn-icon-bottom.no-radius:after, 
.ui-btn-icon-notext.no-radius:after{
	-moz-border-radius: 0em;
	-webkit-border-radius: 0em;
	-border-radius: 0em;
	
}

.ui-btn-icon-top.big-icon:after,
.ui-btn-icon-left.big-icon:after, 
.ui-btn-icon-right.big-icon:after, 
.ui-btn-icon-bottom.big-icon:after, 
.ui-btn-icon-notext.big-icon:after,
.ui-btn-icon-notext.big-icon{
	height:44px;
	width: 44px;
	
	margin-left:-22px;
	
}

.ui-btn-icon-top.big-icon{
	padding-top : 4em;
}

.ui-btn-icon-notext.ui-btn-right.big-btn{
	right: 0;
	
}
.ui-btn-icon-notext.ui-btn-left.big-btn { 
	
	left: 0;
}

/*Scroll dans les panels*/
.ui-panel.ui-panel-open {
    position:fixed;
}
.ui-panel-inner {
    position: absolute;
    top: 1px;
    left: 0;
    right: 0;
    bottom: 0px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

/*****************************/
/*      TABLEAU CUSTOM      */
/***************************/

/*.table-stroke thead th {
  border-bottom: 1px solid rgba(255,255, 255, .1);
}
.table-stroke tbody th,
.table-stroke tbody td {
  border-bottom: 1px solid rgba(255,255, 255, .1);
}
*/
/* These apply across all breakpoints because they are outside of a media query */
/* Make the labels light gray all caps across the board */
.movie-list thead th,
.movie-list tbody th .ui-table-cell-label,
.movie-list tbody td .ui-table-cell-label {
    text-transform: uppercase;
    font-size: 0.9em;
    color: rgba(255,255,255,.7);
    font-weight: normal;
}
/* White bg, large blue text for rank and title */
.movie-list tbody th {
    font-size: 1.2em;
    background-color: #fff;
    color: #77bbff;
    text-align: center;
}
/*  Add a bit of extra left padding for the title */
.movie-list tbody td.title {
    padding-left: .8em;
	min-width: 6em;
}
/* Add strokes */
.movie-list thead th {
    border-bottom: 1px solid #d6d6d6; /* non-RGBA fallback */
    border-bottom: 1px solid rgba(255,255,255,.4);
}
.movie-list tbody th,
.movie-list tbody td {
    border-bottom: 1px solid #e6e6e6; /* non-RGBA fallback  */
    border-bottom: 1px solid rgba(255,255,255,.25);
}
/*  Custom stacked styles for mobile sizes */
/*  Use a max-width media query so we don't have to undo these styles */
@media (max-width: 40em) {
    /*  Negate the margin between sections */
    .movie-list tbody th {
        margin-top: 0;
        text-align: left;
    }
	
    /*  White bg, large blue text for rank and title */
    .movie-list tbody th,
    .movie-list tbody td.title {
        display: block;
        font-size: 1.1em;
        /*line-height: 110%;*/
       /* padding: .5em .5em;*/
        background-color: #666;
        color: #ffffff;
        -moz-box-shadow: 0 1px 6px rgba(255,255,255,.1);
        -webkit-box-shadow: 0 1px 6px rgba(255,255,255,.1);
        box-shadow: 0 1px 6px rgba(255,255,255,.1);
    }
    /*  Hide labels for rank and title */
    .movie-list tbody th .ui-table-cell-label,
    .movie-list tbody td.title .ui-table-cell-label {
       display: none;
    }
    /*  Position the title next to the rank, pad to the left */
    .movie-list tbody td.title {
        margin-top: .5em;
        
        border-bottom: 1px solid rgba(255,255,255,.15);
    }
    /*  Make the data bold */
    .movie-list th,
    .movie-list td {
        font-weight: bold;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
    }
    /* Make the label elements a percentage width */
    /*.movie-list td .ui-table-cell-label,
    .movie-list th .ui-table-cell-label {
        width: 3em;
    }*/
}
/* Media query to show as a standard table at wider widths */
@media ( min-width: 40em ) {
    /* Show the table header rows */
    .movie-list td,
    .movie-list th,
    .movie-list tbody th,
    .movie-list tbody td,
    .movie-list thead td,
    .movie-list thead th {
        display: table-cell;
        margin: 0;
    }
    /* Hide the labels in each cell */
    .movie-list td .ui-table-cell-label,
    .movie-list th .ui-table-cell-label {
        display: none;
    }
}
/* Hack to make IE9 and WP7.5 treat cells like block level elements */
/* Applied in a max-width media query up to the table layout breakpoint so we don't need to negate this */
@media ( max-width: 40em ) {
    .movie-list td,
    .movie-list th {
        width: 100%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        float: left;
        clear: left;
    }
}

/*
 *map
 *
 * */

.map{
	height: 80%;
  min-height:300px;
}




/*****************/
/* CUSTOM ICONS */
/***************/
.ui-icon-twitter:after {
	background-image: url("../img/icons/twitter.svg");
	 /* Make your icon fit */
    background-size: 18px 18px;
}
/* Fallback */
.ui-nosvg .ui-icon-twitter:after {
	background-image: url("../img/icons/twitter.png");
	 /* Make your icon fit */
    background-size: 18px 18px;
}
.ui-icon-book:after {
	background-image: url("../img/icons/book.svg");
	 /* Make your icon fit */
    background-size: 18px 18px;
}
/* Fallback */
.ui-nosvg .ui-icon-book:after {
	background-image: url("../img/icons/book.png");
	 /* Make your icon fit */
    background-size: 18px 18px;
}
.ui-icon-wifi:after {
	background-image: url("../img/icons/wifi.svg");
	 /* Make your icon fit */
    background-size: 18px 18px;
}
/* Fallback */
.ui-nosvg .ui-icon-wifi:after {
	background-image: url("../img/icons/wifi.png");
	 /* Make your icon fit */
    background-size: 18px 18px;
}
.ui-icon-cutlery:after {
	background-image: url("../img/icons/cutlery.svg");
	 /* Make your icon fit */
    background-size: 18px 18px;
}
/* Fallback */
.ui-nosvg .ui-icon-cutlery:after {
	background-image: url("../img/icons/cutlery.png");
	 /* Make your icon fit */
    background-size: 18px 18px;
}
.ui-icon-rss:after {
	background-image: url("../img/icons/rss.svg");
	 /* Make your icon fit */
    background-size: 18px 18px;
}
/* Fallback */
.ui-nosvg .ui-icon-rss:after {
	background-image: url("../img/icons/rss.png");
	 /* Make your icon fit */
    background-size: 18px 18px;
}
.ui-icon-ellipsis-v:after {
	background-image: url("../img/icons/ellipsis-v.svg");
	 /* Make your icon fit */
    background-size: 5px 24px;
}
/* Fallback */
.ui-nosvg .ui-icon-ellipsis-v:after {
	background-image: url("../img/icons/ellipsis-v.png");
	 /* Make your icon fit */
    background-size: 18px 18px;
}
.ui-icon-viadeo:after {
	background-image: url("../img/icons/viadeo.svg");
	 /* Make your icon fit */
    background-size: 36px;
}
/* Fallback */
.ui-nosvg .ui-icon-viadeo:after {
	background-image: url("../img/icons/viadeo.png");
	 /* Make your icon fit */
    background-size: 36px;
}
.ui-icon-facebook:after {
	background-image: url("../img/icons/facebook.svg");
	 /* Make your icon fit */
    background-size: 36px;
}
/* Fallback */
.ui-nosvg .ui-icon-facebook:after {
	background-image: url("../img/icons/facebook.png");
	 /* Make your icon fit */
    background-size: 36px;
}
.ui-icon-youtube:after {
	background-image: url("../img/icons/youtube.svg");
	 /* Make your icon fit */
    background-size: 36px;
}
/* Fallback */
.ui-nosvg .ui-icon-youtube:after {
	background-image: url("../img/icons/youtube.png");
	 /* Make your icon fit */
	
    background-size: 36px;
}
.ui-icon-linkedin:after {
	background-image: url("../img/icons/linkedin.svg");
	 /* Make your icon fit */
    background-size: 36px;
}
/* Fallback */
.ui-nosvg .ui-icon-linkedin:after {
	background-image: url("../img/icons/linkedin.png");
	 /* Make your icon fit */
    background-size: 36px;
}


